@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Paytone+One&family=Phetsarath:wght@400;700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



* {
  font-family: "Paytone One", serif;
  font-weight: 400;
  font-style: normal;
}

@keyframes colorChange {
  0% {
    color: #ff5733;
  }

  25% {
    color: #33ff57;
  }

  50% {
    color: #3357ff;
  }

  75% {
    color: #ff33a8;
  }

  100% {
    color: #faff33;
  }
}

.animated-text {
  animation: colorChange 3s infinite;
}

@keyframes moveLeft {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-50px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes moveRight {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(50px);
  }

  100% {
    transform: translateX(0);
  }
}

.animate-moveLeft {
  animation: moveLeft 8s ease-in-out infinite;
}

.animate-moveRight {
  animation: moveRight 8s ease-in-out infinite;
}